data/egm96_5min.pgm filter=lfs diff=lfs merge=lfs -text
data/*.pgm filter=lfs diff=lfs merge=lfs -text
data/*.png filter=lfs diff=lfs merge=lfs -text
data/*.tif filter=lfs diff=lfs merge=lfs -text
data/egm96-15.png filter=lfs diff=lfs merge=lfs -text
data/egm96-5.png filter=lfs diff=lfs merge=lfs -text
